In [60]:
#CREATED A COPY OF THE ORGINAL COLAB
#ALL SOLUTIONS/CODES ARE STRICTLY JUST MY OWN

# ⚠️ Important Notice:

These questions are **meant for practice purposes only**. They **do not** represent the actual OPPE paper pattern, question style, or any official material.
Please avoid memorizing the question patterns or the exact code solutions.

Instead, focus on developing the skill to **tackle unfamiliar problems** — explore library documentation, understand concepts, and learn how to apply them in new contexts.


Regards\
MLT TAs

# MetaData
## **Feature Variables**
- **PlayerID:** Unique identifier for each player.
Age: Age of the player.
- **Gender:** Gender of the player.
- **Location:** Geographic location of the player.
- **GameGenre:** Genre of the game the player is engaged in.
- **PlayTimeHours:** Average hours spent playing per session.
- **InGamePurchases:** Indicates whether the player makes in-game purchases (0 = No, 1 = Yes).
- **GameDifficulty:** Difficulty level of the game.
- **SessionsPerWeek:** Number of gaming sessions per week.
- **AvgSessionDurationMinutes:** Average duration of each gaming session in minutes.
- **PlayerLevel:** Current level of the player in the game.
- **AchievementsUnlocked:** Number of achievements unlocked by the player.

## **Target Variable:**

**EngagementLevel:** Indicates the level of player engagement categorized as 'High', 'Medium', or 'Low'.

### Use the below link to access the dataset

**Dataset V1**: https://drive.google.com/file/d/1Z_Ns6fUzUVfGpM8Rqi4QIFzBVx19ZukK/view?usp=sharing

# Preprocessing

### Q1. [marks : 0][MCQ] **Which dataset are you using for this exam?**

Options:

(A) MLP OPPE2 preprocessing V1.csv

(B) MLP OPPE2 preprocessing V2.csv

(C) MLP OPPE2 preprocessing V3.csv


Answer: V1: A, V2:B, V3: C

In [61]:
import pandas as pd

df=pd.read_csv(r'/content/preprocessing V1.csv')
df.head()

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,35900,37.0,Male,Other,Strategy,23.929404,NaN,Hard,3,124,99,18,Medium
1,27085,25.0,Male,NaN,Action,22.755168,1.0,Easy,14,84,84,12,Medium
2,39595,24.0,Female,Europe,Simulation,19.505292,0.0,Hard,3,172,9,18,Medium
3,37440,26.0,Female,Europe,RPG,11.009645,NaN,NaN,3,83,36,43,Low
4,22882,17.0,Female,USA,RPG,0.581039,1.0,Medium,5,163,9,24,Medium

### **Q2[Marks:4][MCQ] Which of the following columns have ``object`` datatype?**
(A) Age

(B) Gender

(C) Location

(D) GameGenre

(E) PlayTimeHours

(F) PlayTimeHours

\

**Ans: B,C,D**

In [62]:
df.info() #ANSWER: Gender, Location, GameGenre B,C,D

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PlayerID                   10000 non-null  int64
 1   Age                        9200 non-null   float64
 2   Gender                     10000 non-null  object
 3   Location                   9202 non-null   object
 4   GameGenre                  10000 non-null  object
 5   PlayTimeHours              10000 non-null  float64
 6   InGamePurchases            9107 non-null   float64
 7   GameDifficulty             9154 non-null   object
 8   SessionsPerWeek            10000 non-null  int64
 9   AvgSessionDurationMinutes  10000 non-null  int64
 10  PlayerLevel                10000 non-null  int64
 11  AchievementsUnlocked       10000 non-null  int64
 12  EngagementLevel            10000 non-null  object
dtypes: float64(3), int64(5), object(5)
memory usage: 1015.8+ KB



### Q3 [Marks:4][NAT] In this dataset, how many **"Males"** from **"Europe"** have made **"InGamePurchases"** ?

**Ans: 299**

In [63]:
ans=df['InGamePurchases'].value_counts()
ans

InGamePurchases
0.0    7244
1.0    1863
Name: count, dtype: int64

In [64]:
ans3=df[(df['Gender']=='Male') & (df['Location']=='Europe') & (df['InGamePurchases']==1)]
ans3.shape #ans is 299

(299, 13)

### **Q4 [Marks:4][NAT] In your dataset, how many players under the `"Age"` 18 have strictly greater than 10 `"PlayTimeHours"`?**

**Ans: 453**

In [65]:
ans4=df[(df['Age']<18) & (df['PlayTimeHours']>10)]
ans4.shape #answer is 453

(453, 13)

### **Q5 [Marks:4][MCQ] Which of the following options represent all the unique categories present in `"GameGenre"` feature?**

options

(A) $\verb|[Action, Adventure, Simulation, Sports, Strategy]|$

(B) $\verb|[Action, RPG, Racing, Sports, Strategy]|$

(C) $\verb|[Action, RPG, Simulation, Sports, Strategy]|$

(D) $\verb|[Adventure, Puzzle, RPG, Simulation, Sports]|$

\

**Ans : C**

In [66]:
df['GameGenre'].value_counts() #  option C

GameGenre
Strategy      2040
Sports        2038
Action        1994
Simulation    1988
RPG           1940
Name: count, dtype: int64

### Q6.[Marks: 4][NAT] Create feature matrix(X) and label vector(y) using following instructions:
- `"EngagementLevel"` is the target column(y).
- All the columns except the target column are in feature matrix(X).

###**Compare the correlation value(r) for all numeric (Int,float) Dtype features pair of the feature matrix(X) and write the Highest Positive Correlation Value** .


**Ans: 0.025 (0.023, 0.027)**

In [67]:
X=df.drop(columns=['EngagementLevel'])
y=df['EngagementLevel']

#select only numeric columns
x_num=X.select_dtypes(include=['float64','int64'])
#print(x_num)
corrmatrix=x_num.corr()
corrmatrix

#Highest Positive correlation values (excluding diagonal = 1.0)
#Age — SessionsPerWeek = 0.025499 (row, col & col, row pair...appears 2 times!! (same hai though))

,PlayerID,Age,PlayTimeHours,InGamePurchases,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked
PlayerID,1.000000,-0.004979,-0.003953,-0.004595,-0.000866,0.005143,0.012248,0.007529
Age,-0.004979,1.000000,0.017461,-0.003014,0.025499,-0.014654,-0.000034,-0.009271
PlayTimeHours,-0.003953,0.017461,1.000000,0.009045,0.005680,0.005118,-0.008108,-0.012209
InGamePurchases,-0.004595,-0.003014,0.009045,1.000000,-0.008045,0.000381,-0.006692,0.005059
SessionsPerWeek,-0.000866,0.025499,0.005680,-0.008045,1.000000,-0.023489,-0.002066,0.009893
AvgSessionDurationMinutes,0.005143,-0.014654,0.005118,0.000381,-0.023489,1.000000,0.010865,-0.003445
PlayerLevel,0.012248,-0.000034,-0.008108,-0.006692,-0.002066,0.010865,1.000000,0.008960
AchievementsUnlocked,0.007529,-0.009271,-0.012209,0.005059,0.009893,-0.003445,0.008960,1.000000

###**Q7[4 Marks][NAT] How many total null values were present in the whole dataset ?**

**Ans: 3337**

In [68]:
df.isnull().sum()

PlayerID                       0
Age                          800
Gender                         0
Location                     798
GameGenre                      0
PlayTimeHours                  0
InGamePurchases              893
GameDifficulty               846
SessionsPerWeek                0
AvgSessionDurationMinutes      0
PlayerLevel                    0
AchievementsUnlocked           0
EngagementLevel                0
dtype: int64

In [69]:
df.isnull().sum().sum()

np.int64(3337)

### Q8 [Marks 5][MCQ] Split the dataset into train dataset and test dataset in the following manner.

- Use sklearn train_test_split function to split the data.
- Use only 20% data as test_set and keep random_state = 42


###**Which category has the least value counts in y_train?**

(A) Low

(B) Medium

(C) High

**Ans: C**

In [70]:
from sklearn.model_selection import train_test_split

In [71]:
?train_test_split

In [72]:
X=df.drop(columns=['EngagementLevel'])
y=df['EngagementLevel']

X_train, X_test, y_train, y_test = train_test_split(
     X, y,
     test_size=0.20,
     random_state=42)

y_train.value_counts() #answer; option C high

EngagementLevel
Medium    3983
Low       2021
High      1996
Name: count, dtype: int64

## **Common Instructions for Question 9 and 10**
## **Rules for Imputing the missing(NaN) or Unknown values:**
- Calculating statistical values (such as mean, median, mode) for each column in the training dataset.
- Applying these calculated statistical values to replace missing (NaN) and unknown values in both the training and test datasets.
- Ensure that the calculation of statistical values excludes any rows containing missing or unknown values.

- Replace Unknown values in the **"Age"** feature with the Mean value in that.
- Replace Unknown values in the **"Location"** feature with the constant value **"Other"**.
- Replace Unknown values in the **"GameDifficulty"** feature with the Most Frequent value in that.
- Replace Unknown values in the **"InGamePurchases"** feature with the constant value '0'.


- Write the answers related to the above imputation in below questions respectively.

In [73]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8000 entries, 9254 to 7270
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PlayerID                   8000 non-null   int64
 1   Age                        7360 non-null   float64
 2   Gender                     8000 non-null   object
 3   Location                   7361 non-null   object
 4   GameGenre                  8000 non-null   object
 5   PlayTimeHours              8000 non-null   float64
 6   InGamePurchases            7284 non-null   float64
 7   GameDifficulty             7325 non-null   object
 8   SessionsPerWeek            8000 non-null   int64
 9   AvgSessionDurationMinutes  8000 non-null   int64
 10  PlayerLevel                8000 non-null   int64
 11  AchievementsUnlocked       8000 non-null   int64
dtypes: float64(3), int64(5), object(4)
memory usage: 812.5+ KB

In [74]:
gd_mode=X_train["GameDifficulty"].mode()
print(gd_mode)

print('--------------------------------')

gd_mode_tr=X_train["GameDifficulty"].mode()[0]
print(gd_mode_tr)

0    Easy
Name: GameDifficulty, dtype: object
--------------------------------
Easy

In [75]:
#col 0 has no missing values so all good

#col 1 "age" missing values to be imputed with mean
age_mean=X_train['Age'].mean()
X_train['Age']=X_train['Age'].fillna(age_mean)
X_test['Age']=X_test['Age'].fillna(age_mean)

#col 2  has no missing values

#col 3 "Location" has to be imputed with "Other" for its NA values
loc_val="Other"
X_train['Location']=X_train['Location'].fillna(loc_val)
X_test['Location']=X_test['Location'].fillna(loc_val)

#col 4 and 5 have no missing values

#col 6
X_train['InGamePurchases']=X_train['InGamePurchases'].fillna(0)
X_test['InGamePurchases']=X_test['InGamePurchases'].fillna(0)

#col 7 to be imputed with most frequent value
gd_mode=X_train["GameDifficulty"].mode()[0]
X_train["GameDifficulty"]=X_train["GameDifficulty"].fillna(gd_mode)
X_test["GameDifficulty"]=X_test["GameDifficulty"].fillna(gd_mode)

#col 8-11 are good too

### **Q9 [Marks: 5][NAT] Write the sum of transformed(imputed) `"Age"` column of the test dataset . [NAT] (upto 2 digits after decimal points)**

**Answer: 63585.23 (Range: 63584,63586)**

In [76]:
X_test['Age'].sum()

np.float64(63585.239130434784)

In [77]:
round(X_test["Age"].sum(), 2)

np.float64(63585.24)

In [78]:
#just trying out median as well to understand the syntax

age_med=X_test['Age'].median()
age_med

31.71399456521739

### **Q10 [Marks: 5][NAT] Let's say most frequent category in the `"GameDifficulty"` column of train dataset is `"XXX"`. What is the value count of `"XXX"` in `"GameDifficulty"` column of test dataset after imputation ?**


<!-- Submit the value counts of the most frequent category in the "GameDifficulty" column from the "test dataset" that you computed to replace all the missing values(NaN) -->

**Answer: 1102**

In [79]:
#we know the most frequent category in train (before imputation) was Easy.
ans10=X_test["GameDifficulty"].value_counts()
ans10 #answer: 1102

GameDifficulty
Easy      1102
Medium     569
Hard       329
Name: count, dtype: int64

## Apply preprocessing on features of train and test datasets.

- Drop the **`"PlayerID"`** Column before the preprocessing steps.

- before applying any preprocessing there should not be any missing or unknown values present in the train and test dataset.

- Learn transformers' parameters using training set only and then transform train & test sets using them.

## For Categorical Features

### Ordinal Features
-  Ordinally Encode **"GameDifficulty"**

|GameDifficulty|Order|
|-------|--------|
|Easy|0|
|Medium|1|
|Hard|2|

### Nominal Features
* One-Hot Encode **`'Gender', 'Location', 'GameGenre'`** features and keep drop_first = True.


### Scaling Features
* Scale **all the features** (transformed categorical and numerical) of the feature matrix using the **StandardScaler**

In [80]:
#ensuring no null values are present

X_train.isnull().sum()
print('----------------------')
X_test.isnull().sum()
print('----------------------')
y_train.isnull().sum()
print('----------------------')
y_test.isnull().sum()

----------------------
----------------------
----------------------

np.int64(0)

In [81]:
X_train=X_train.drop(columns=["PlayerID"])
X_test=X_test.drop(columns=["PlayerID"])

In [82]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8000 entries, 9254 to 7270
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        8000 non-null   float64
 1   Gender                     8000 non-null   object
 2   Location                   8000 non-null   object
 3   GameGenre                  8000 non-null   object
 4   PlayTimeHours              8000 non-null   float64
 5   InGamePurchases            8000 non-null   float64
 6   GameDifficulty             8000 non-null   object
 7   SessionsPerWeek            8000 non-null   int64
 8   AvgSessionDurationMinutes  8000 non-null   int64
 9   PlayerLevel                8000 non-null   int64
 10  AchievementsUnlocked       8000 non-null   int64
dtypes: float64(3), int64(4), object(4)
memory usage: 750.0+ KB

In [83]:
X_train["GameDifficulty"].value_counts()

GameDifficulty
Easy      4335
Medium    2214
Hard      1451
Name: count, dtype: int64

In [84]:
#ordinally encoding

from sklearn.preprocessing import OrdinalEncoder

In [85]:
?OrdinalEncoder

In [86]:
order=[["Easy", "Medium", "Hard"]]

enc = OrdinalEncoder(categories=order)


#Learn transformers' parameters using training set only
X_train["GameDifficulty"]=enc.fit_transform(X_train[["GameDifficulty"]])

#then transform train & test sets using them.
X_test["GameDifficulty"]=enc.transform(X_test[["GameDifficulty"]])

In [88]:
X_train["GameDifficulty"].value_counts()

GameDifficulty
0.0    4335
1.0    2214
2.0    1451
Name: count, dtype: int64

In [91]:
#from sklearn.preprocessing import OneHotEncoder
#?OneHotEncoder

Object `get_dummies()` not found.

In [92]:
import pandas as pd

nominal_cols = ["Gender", "Location", "GameGenre"]

# Fit OneHotEncoder on training data only
X_train = pd.get_dummies(X_train, columns=nominal_cols, drop_first=True)

# Apply SAME columns to test set
X_test = pd.get_dummies(X_test, columns=nominal_cols, drop_first=True)

# Align test to train columns
X_test = X_test.reindex(columns=X_train.columns, fill_value=0)

In [93]:
from sklearn.preprocessing import StandardScaler

?StandardScaler

In [94]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8000 entries, 9254 to 7270
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        8000 non-null   float64
 1   PlayTimeHours              8000 non-null   float64
 2   InGamePurchases            8000 non-null   float64
 3   GameDifficulty             8000 non-null   float64
 4   SessionsPerWeek            8000 non-null   int64
 5   AvgSessionDurationMinutes  8000 non-null   int64
 6   PlayerLevel                8000 non-null   int64
 7   AchievementsUnlocked       8000 non-null   int64
 8   Gender_Male                8000 non-null   bool
 9   Location_Europe            8000 non-null   bool
 10  Location_Other             8000 non-null   bool
 11  Location_USA               8000 non-null   bool
 12  GameGenre_RPG              8000 non-null   bool
 13  GameGenre_Simulation       8000 non-null   bool
 14  GameGenre_Sports           8000 non-null   bool
 15  GameGenre_Strategy         8000 non-null   bool
dtypes: bool(8), float64(4), int64(4)
memory usage: 625.0 KB

In [95]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, 6252 to 6929
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        2000 non-null   float64
 1   PlayTimeHours              2000 non-null   float64
 2   InGamePurchases            2000 non-null   float64
 3   GameDifficulty             2000 non-null   float64
 4   SessionsPerWeek            2000 non-null   int64
 5   AvgSessionDurationMinutes  2000 non-null   int64
 6   PlayerLevel                2000 non-null   int64
 7   AchievementsUnlocked       2000 non-null   int64
 8   Gender_Male                2000 non-null   bool
 9   Location_Europe            2000 non-null   bool
 10  Location_Other             2000 non-null   bool
 11  Location_USA               2000 non-null   bool
 12  GameGenre_RPG              2000 non-null   bool
 13  GameGenre_Simulation       2000 non-null   bool
 14  GameGenre_Sports           2000 non-null   bool
 15  GameGenre_Strategy         2000 non-null   bool
dtypes: bool(8), float64(4), int64(4)
memory usage: 156.2 KB

In [96]:
scaler = StandardScaler()

X_train_scaled=scaler.fit_transform(X_train)

X_test_scaled=scaler.transform(X_test)

### **Q11[Marks:10][NAT] Calculate the sum of all the values present in first five rows of transformed test feature matrix ?** (upto 2 digits afer the decimal)

**Answer: -7.1728 (-7.19 , -7.15)**

In [97]:
import numpy as np

sum_first_5=np.sum(X_test_scaled[:5])

round(sum_first_5, 2)

np.float64(-7.17)

# Model Building
 - **Set or change** the parameters specified in the question, while keeping all other parameters at their default values.

### Use the below link to access the dataset

**Dataset V1**: https://drive.google.com/file/d/1IybNLBUwfvsiyEBjDt4iDxa4WOKnyONh/view?usp=sharing

### **Q1. [marks : 0] Which dataset are you using for this Model Building section?**

Options:

A) MLP OPPE2 ModelBuilding V1.csv

B) MLP OPPE2 ModelBuilding V2.csv

C) MLP OPPE2 ModelBuilding V3.csv



Answer: V1: A, V2:B, V3: C

In [98]:
import pandas as pd

data=pd.read_csv(r'/content/ModelBuilding V1.csv')

In [99]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Gender_Male                10000 non-null  float64
 1   Location_Europe            10000 non-null  float64
 2   Location_Other             10000 non-null  float64
 3   Location_USA               10000 non-null  float64
 4   GameGenre_RPG              10000 non-null  float64
 5   GameGenre_Simulation       10000 non-null  float64
 6   GameGenre_Sports           10000 non-null  float64
 7   GameGenre_Strategy         10000 non-null  float64
 8   GameDifficulty             10000 non-null  float64
 9   Age                        10000 non-null  float64
 10  InGamePurchases            10000 non-null  float64
 11  PlayTimeHours              10000 non-null  float64
 12  SessionsPerWeek            10000 non-null  float64
 13  AvgSessionDurationMinutes  10000 non-null  float64
 14  PlayerLevel                10000 non-null  float64
 15  AchievementsUnlocked       10000 non-null  float64
 16  EngagementLevel            10000 non-null  int64
dtypes: float64(16), int64(1)
memory usage: 1.3 MB

Split the dataset into train dataset and test dataset in the following manner.
- **`"EngagementLevel"`** is the target column(y).
- All the columns except the target column are in feature matrix(X).
- Use sklearn train_test_split function to split the data.
- Use only 20% data as test_set and keep random_state = 42

### Q2 [5 marks][NAT] Take **`LogisticRegression`** estimator with following parameters for training:
  - Use `sag` as solver
  - Set random state to be equal to 42
  - Tolerance for stopping criteria to be 1e-3
  - Maximum number of iterations taken for the solvers to converge to be 100

### **Enter the recall score for class 1 of y_test for the given model using test set(X_test, y_test)**

$\color{red}{\verb|No Changes|}$

**Answer: 0.7044 (0.690, 0.715)**

In [101]:
X=data.drop(columns=["EngagementLevel"])
y=data["EngagementLevel"]

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.20,
    random_state=42)

In [103]:
from sklearn.metrics import recall_score
?recall_score

In [104]:
y_test.value_counts()

EngagementLevel
2    966
0    540
1    494
Name: count, dtype: int64

In [108]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(solver='sag',
                        random_state=42,
                        tol=1e-3,
                        max_iter=100)

lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)


recall_score_1=recall_score(y_test,y_pred,
                            labels=[1],
                            average = 'macro')
recall_score_1

0.7044534412955465

### Q3  [6 marks] [NAT] Use **`SGDClassifier`** on the training dataset (**`X_train`** and **`y_train`**) to train the model. Use the following parameters:

1. `log_loss`is the loss function to be used
2. apply ridge regularization,
3. maximum number of passes over the training data is 10
4. constant learning rate of 0.01,
5. regularization rate value is 0.001,
6. Take random_state=42.
7. Set warm_start as False

Note : Please ignore the convergence warning.

### **Using above model, calculate and write the correct value of f1_score for label class = 2 of the test set.**
|Version|rs=64| rs=42|
|----|----|----|
|V1 |0.8167 (0.800, 0.825)|0.817 (0.80,0.825)|

In [109]:
from sklearn.metrics import f1_score
?f1_score

In [110]:
from sklearn.linear_model import SGDClassifier
?SGDClassifier

In [113]:
sgdc=SGDClassifier(loss='log_loss',
                   penalty='l2',
                   max_iter=10,
                   learning_rate='constant',
                   eta0=0.01,
                   alpha=0.001,
                   random_state=42,
                   warm_start=False)


sgdc.fit(X_train,y_train)
y_pred=sgdc.predict(X_test)
f1_score_2=f1_score(y_test,y_pred,
                    labels=[2],
                    average='macro')

f1_score_2

0.8170854271356784

### Q4. [6 marks] [MCQ] Tune the parameters using Gridsearchcv for below settings  
- `estimator = KNeighborsClassifier`
- `scoring =accuracy`
- `cv= 5`
* Consider following parameters for KNeighborsClassifier:
 - `n_neighbors = [19,23,27,31]`
 - `metric = "minkowski"`
 - Set p value for `minkowski = 2`

- Keep other parameter values as default values.

### **What is the best value of K you obtained using the above instructions?**

Options

A) 19

B) 23

C) 27

D) 31

\

**Ans: B**

In [115]:
from sklearn.neighbors import KNeighborsClassifier
?KNeighborsClassifier

In [116]:
from sklearn.model_selection import GridSearchCV
?GridSearchCV

In [117]:
neigh = KNeighborsClassifier(metric = "minkowski",
                             p=2)
parameters={'n_neighbors': [19,23,27,31]}


gscv = GridSearchCV(estimator=neigh,
                    param_grid=parameters,
                    scoring='accuracy',
                    cv=5)

gscv.fit(X_train,y_train)
print(gscv.best_params_['n_neighbors']) #B: 23 IS THE ANSWER

23

###Q.5 [3 Marks] [MCQ] Fit an SVM classifier with following parameters:

- `kernel='rbf'`
- `decision_function_shape='ovr'`
- `random_state=42`  
- `C=1`

###**Train the model on training data, and choose the option with correct confusion matrix on test data.**

(A) $\begin{bmatrix} %V3
 438 & 17 & 64\\
 11  & 407 & 87\\
 36  & 50 & 890
 \end{bmatrix}$
\
\
\
(B) $\begin{bmatrix}
 434 & 18 & 60\\
 13  & 409 & 87\\
 38  & 50 & 891
 \end{bmatrix}$
\
\
\
(C) $\begin{bmatrix} %V1
 449 & 16 & 75 \\
 11 & 382 & 101 \\
 38 & 45 & 883
\end{bmatrix}$
\
\
$\begin{bmatrix} %V1
 449 &  16 &  75\\
 11 & 382 & 101\\
 38 & 45 & 883
\end{bmatrix}$
\
\
\
(D)$\begin{bmatrix} %V2
465 & 11 & 57\\
13 & 424 & 97\\
23 & 46 & 864
 \end{bmatrix}$

\

**Answers: C**

In [118]:
from sklearn.svm import SVC
?SVC

In [119]:
from sklearn.metrics import confusion_matrix
?confusion_matrix

In [120]:
model=SVC(kernel='rbf',
          decision_function_shape ='ovr',
          random_state=42,
          C=1)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
conf_ma=confusion_matrix(y_test,y_pred)
conf_ma #answer C

array([[449,  16,  75],
       [ 11, 382, 101],
       [ 38,  45, 883]])

**Common Instruction for Question 6 to 8**

Train a Decision Tree Classifier with the following properties:

- `criterion = 'entropy'`
- `splitter = 'random'`
- `min_samples_split = 4`
- `min_impurity_decrease = 0.0001`
- `random_state = 42`

###**Q.6 [MCQ][3 Marks] What is the depth of the trained tree?**

**Answer: 20**

In [121]:
from sklearn.tree import DecisionTreeClassifier
?DecisionTreeClassifier

In [122]:
dtc=DecisionTreeClassifier(criterion= "entropy",
                           splitter = 'random',
                           min_samples_split = 4,
                           min_impurity_decrease = 0.0001,
                           random_state = 42)
dtc.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', min_impurity_decrease=0.0001,
                       min_samples_split=4, random_state=42, splitter='random')

In [125]:
import sklearn
?sklearn.tree._tree.Tree

In [126]:
dtc.tree_.max_depth #answer: 20

20

###**Q.7 [NAT][3 Marks] How many nodes are there in the tree?**

**Answer: 2367 (Range: 2365, 2369)**

In [127]:
dtc.tree_.node_count #answer: 2367

2367

###**Q.8 [NAT][5 Marks] What is the value of entropy at the left child of root node?** (correct upto 2 digit after decimal)

**Answer: 1.1607 (1.15,1.17)**

In [128]:
#dtc.tree_.children_left
#gives you for each node, what is its left child node index
#Root node always has node id = 0
#So left child = dtc.tree_.children_left[0]
left_child=dtc.tree_.children_left[0]
entropy=dtc.tree_.impurity[left_child]
entropy

np.float64(1.1607584920522216)

### **(Common Instructions for Q9,Q10)**
##Take an adaboost model with following hyperparameter values and tune it using GridsearchCV.

- Use n_estimators as [10,20,30]
- random_state = 42
- Use learning_rate as [0.5,1,2]
- Take cv value= 5

###**Q9[Marks: 5] [NAT] Train the 'model' using above instructions and use the best estimator to calculate the total number of misclassified samples for the test data and submit the value.**

\

**Answer: 436  (Range: 434,438 )**

In [129]:
from sklearn.ensemble import AdaBoostClassifier
?AdaBoostClassifier

In [130]:
from sklearn.model_selection import GridSearchCV
?GridSearchCV

In [131]:
from sklearn.metrics import confusion_matrix
?confusion_matrix

In [132]:
ada=AdaBoostClassifier(random_state= 42)

parameters={'n_estimators': [10,20,30],
            'learning_rate':[0.5,1,2]}

gscv=GridSearchCV(estimator=ada,
                  param_grid=parameters,
                  cv=5)

gscv.fit(X_train,y_train)
best_model=gscv.best_estimator_
y_pred=best_model.predict(X_test)

confmatrix=confusion_matrix(y_test,y_pred)
confmatrix

array([[343,  16, 181],
       [  6, 363, 125],
       [ 26,  82, 858]])

In [133]:
16+181+6+125+26+82  #answer is 436
#sum all values that are not in the diagnol (right to left)

436

###**Q10[Marks: 5][MCQ] Choose the value of `n_estimators` of the best model after training with GridSearchCV.**

Options:

A) 10

B) 20

C) 30

D) None of these

**Answer: C**

In [134]:
print(gscv.best_params_['n_estimators']) #ans is 30/C

30

### Q11. [Marks: 5 ] [NAT] Train  with RandomizedSearchCV.

- Keep Below Settings for **`RandomForestClassifier(random_state=42)`** estimator
  - n_estimators = range(2,100)
  - max_depth = range(1,11)
  - min_impurity_decrease = uniform(loc=0,scale=5)


- Keep below settings for RandomizedSearchCV
  - estimator = RandomForestClassifier(random_state=42)
  - random_state = 42
  - n_iter=5
  - cv=3
  - n_jobs= -1
  - verbose=2

hint: from scipy.stats import uniform

###**Submit the best param value for n_estimators using this RandomizedSearchCV on train data.**

**Answer: 16**

In [135]:
from sklearn.model_selection import RandomizedSearchCV
?RandomizedSearchCV

In [136]:
from sklearn.ensemble import RandomForestClassifier
?RandomForestClassifier

In [137]:
from scipy.stats import uniform
?uniform

In [139]:
rf=RandomForestClassifier(random_state=42)

param_distributions={'n_estimators': list(range(2,100)),
                     'max_depth': list(range(1,11)),
                     'min_impurity_decrease': uniform(loc=0,scale=5)}


model=RandomizedSearchCV(estimator=rf,
                         param_distributions=param_distributions,
                         random_state = 42,
                         n_iter=5,
                         cv=3,
                         n_jobs= -1,
                         verbose=2)

model.fit(X_train, y_train)
print(model.best_params_['n_estimators']) #ans is 16

Fitting 3 folds for each of 5 candidates, totalling 15 fits
16

###**Q12[Marks 4] [NAT] Write the best param value for min_impurity_decrease using this RandomizedSearchCV on train data.** (upto 2 digit after the decimal)

**Answers: 3.9827 (Range: 3.95,4.00)**

In [140]:
print(round(model.best_params_['min_impurity_decrease'],2))
#ans is 3.98

3.98